/* Estilos base */

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.6rem;
  letter-spacing: 0.02em;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0.02em;
  font-weight: bold;
}

h4 {
  font-size: 20px;
  font-weight: bold;
}

p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

body {
  max-width: 120rem;
  margin: auto;
}


/*Estilos utilitarios*/
.container {
  max-width: 79, 1rem;
  margin: 0 auto;
}

.rosa {
  color: #E27D60;
}

.container2 {
  max-width: 73.1rem;
  margin: 0 auto;
}

.button0 {
  background-color: #303030;
  color: #E6E6E6;
  padding: 10px 20px;
  margin: 3rem 0;
  font-size: 18px;
  border-radius: 3px;
}

.button2 {
  background-color: #303030;
  color: #E6E6E6;
  padding: 10px 20px;
  margin: 3rem 0;
  font-size: 18px;
  border-radius: 3px;
}

.button3 {
  /*si*/
  background-color: #303030;
  color: #E6E6E6;
  padding: 10px 30px;
  font-size: 18px;
  border-radius: 3px;
  margin: 2rem;
  text-align: center;
  position: relative;
  left: 40rem;
}

.button4 {
  background-color: #303030;
  color: #E6E6E6;
  padding: 10px 20px;
  margin: 3rem 0;
  font-size: 18px;
  border-radius: 3px;
  position: relative;
  left: 38rem;
}


/*Header*/
.logo {
  margin: 0 0 0 20rem;
}

.nav {
  font-family: Libre Frankin;
  font-size: 1rem;
  margin: 0 auto;
}

.logos {
  margin: 0 20rem 0 0;
}

.nav a {
  margin: 12px;

}

header {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

/*Seccion 1*/
/*There is nothing*/
.imgsecc1 {
  max-width: 59rem;
  max-height: 40, 5rem;
}

.seccion1 {
  display: flex;
  background-color: #f4e0d3;
}

.space1 {
  margin: 5rem;
  max-width: 26rem;
}

/*Seccion 2*/
/*Deep tissue - Wellness - Reflexology */
.seccion2 {
  display: flex;
  text-align: center;
  max-width: 55.6rem;
  padding: 5rem;
  margin: 0 auto;
}

/*Seccion 3 */
/*Give us a visit*/
.seccion3 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.container0 div {
  margin: 0 5rem 0 0;

}

.img2 {
  position: relative;
  top: 2rem;
}

.Give {
  max-width: 30rem;
  text-align: end;
  padding: 4rem 0 4rem 4rem;
  background-color: #e6e6e6ca;
}

/*Seccion 4 */
/*Pricing*/
.Pricing {
  margin: 8rem 0 0 0;
  text-align: center;
}

.flex {
  display: flex;
  position: relative;
  left: 10rem;
}

.fila1 {
  padding: 0 10rem;
}

.flexi {
  display: flex;
}

/*Seccion 5 */
/*Widen your smile*/ 
.images2 {
  display: flex;
}

.parte2 {
  padding: 3rem;
  max-width: 31rem;
  background-color: #e6e6e6ca;
}

.flex2 {
  display: flex;
  position: relative;
  left: 23rem;
}

/*Seccion 6*/
/*Treatments*/
.treatments {
  text-align: center;
  padding: 3rem;

}

.imagenes4 {
  text-align: center;
}

/*seccion 7*/
/*Masters of massage*/
.seccion7 div {

  padding: 1rem;
}

.one {
  display: flex;
  justify-content: center;
}

/*octava*/
/*Everyone deserves good health*/
.our {
  display: flex;
  max-width: 50rem;
  margin: 0 auto;
  max-width: 73.1rem;
  text-align: end;
  padding: 4rem;
}

.img8 {
  max-width: 35rem;
  margin: 2rem;
}

.trescajas {
  display: flex;
  justify-content: center;
}

.caja1 {
  margin: 1rem 1rem 2rem 0;
  max-width: 25rem;
}

.seccion8 {
  background-color: #E6E6E6;
}

.parrafo {
  background-color: white;
  padding: 2rem;
}

/*Novena seccion*/
/*Shop*/
.seccion9 {
  text-align: center;
  margin: 5rem;

}

.oil {
  display: flex;
  justify-content: center;
  margin: 5rem;
}

.marcas {
  text-align: center;
  margin: 4rem;
}

.padding {
  padding: 4rem;
}

/*Penultima sección */
/*Latest new*/
.penultima {
  display: flex;
  justify-content: center;
}

.penultima div {
  margin: 3rem;
}

.border2 {
  border-width: 2px;
  border-style: solid;
  border-color: #E6E6E6;
  margin: 2rem;
}

/*ARTICLE */

.Inicio {
  text-align: center;
  padding: 1rem;
  background-color: #E6E6E6;
}

.sec1 {
  display: flex;
  margin: 5rem;
  max-width: 73.1rem;
}

.parr1 {
  max-width: 470px;
  margin: 0 0 2rem 1rem;
}

.imagestwo {
  text-align: center;
  margin: 3rem;
}

/*Cuadro rosa*/
.cuadro {
  background-color: #dac1b1;
  max-width: 48.1rem;
  padding: 2rem;
  margin: 0 auto;
}

.perfil {
  display: flex;
  margin: 0 9rem;
}

.fotoperfil {
  margin: 2rem;
}

/*Others posts*/
.latest {
  margin: 4rem 0rem;
}

.posts {
  display: flex;
}

.border {
  border-width: 2px;
  border-style: solid;
  border-color: #E6E6E6;
  margin: 2rem;
}

.postsp {
  padding: 1rem 1rem 1rem 1rem;
}

.bold {
  font-weight: bold;
  text-decoration: underline;
}

/*footer*/
footer {
  width: 82rem;
  background-color: #303030;
}

.footerhome {
  width: 115rem;
  background-color: #303030;
}

.footerfilas {
  display: flex;
  margin: 5rem;
  color: #ffff;
  font-size: 14px;
}

.rem {
  margin: 0 3rem;
}

.final {
  display: flex;
}

.f {
  width: 50%;
  color: #8a8686;
  margin: 0 0 2rem 8rem;

}

.y {
  width: 50%;
  color: #8a8686;
  margin: 0 0 0 8rem;
}

.final {
  width: 100%;
}

/*SUSCRIBE*/
.background {
  width: 100%;
  height: 300px;
  background-image: url(https://image.freepik.com/foto-gratis/mujer-hermosa-spa_39730-1178.jpg);
  display: flex;
}

.susbscribe {
  padding: 5rem;
  color: #ffff;
}

.treinta {
  font-size: 36px;
  font-weight: 200;
}

.form {
  margin: 10rem 0;
}

.buttonfinal {
  background-color: #303030;
  color: #ffff;
  padding: 5px 10px;
}